.main-root {
    -fx-font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    -fx-background-color: #F0F4F8;
}

/* Title */
.label.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

/* Buttons */
.custom-button {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-background-color: #2C7A7B;
    -fx-text-fill: white;
}

.theme-button{
    -fx-background-color: #c7c505;
}

.button:hover {
    -fx-text-fill: black;
}

/* TextFields */
.text-field {
    -fx-border-color: #B0BEC5;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 7px;
    -fx-background-color: #FFFFFF;
}

/* Labels */
.label {
    -fx-font-size: 14px;
}

.module-label {
    -fx-text-fill: #2C3E50; /* dark blue in light mode */
}
